[Unit]
Description=IRC Redirection Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/irc-redirect

[Install]
WantedBy=multi-user.target
